body {
    background-color: #ffeb98;

    font-family: "Lucida Console", "Courier New", monospace;
}


h1 {
    background-color: white;
    color: #F06400;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    margin: 40px auto;
}


.section-title {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    margin: 40px auto;
}

.gif {
    width: 300px;
    margin: 60px auto;
    display: block;
}


p {
    max-width: 600px;
    margin: 20px auto;
}

h3 a {
    color: inherit;
    margin: 60px auto;
    text-decoration: none;  
    text-align: center; 
    display: block;
    background-color: white;
    padding: 15px 30px;
    border-radius: 12px;
    width: fit-content;
}

h3 a:hover{
    color:#F06400
}

#main-title {
    font-size: 30px;
}

